body {
  margin: 0;
  padding: 0;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 200px;
}

.mat-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.menu-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
