.projects-list-container {
  min-height: 90vh;
}

h3 {
  padding-left: 8px;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.list-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px;
}

.actions button {
  margin-left: 8px;
}

.no-data {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 16px;
}
