h3 {
  padding-left: 8px;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.list-item {
  padding: 16px;
}

.list-item:hover {
  background: lightgray;
  cursor: pointer;
}

.list-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actions button {
  margin-left: 8px;
}

.no-data {
  display: flex;
  justify-content: center;
}
