<h2 mat-dialog-title>Create project</h2>
<mat-dialog-content>
<form [formGroup]="form">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Enter name" required>
        @if(form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)) {
          <mat-error>
            Name is required
          </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" placeholder="Enter description"></textarea>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <input matInput formControlName="type" placeholder="Enter type" required>
        @if(form.controls['type'].invalid && (form.controls['type'].dirty || form.controls['type'].touched)) {
          <mat-error>
            Type is required
          </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Labels</mat-label>
        <div>
          @for(label of labels; track $index) {
            <div class="labels-container" [formGroup]="label">
              <div class="label-field">
                <input matInput formControlName="name" placeholder="Enter label name" required>
                <input type="color" formControlName="color">
                <button type="button" mat-icon-button (click)="removeLabel($index)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
          }
        </div>
        <button type="button" mat-raised-button color="primary" (click)="addNewLabel()">Add Label</button>
      </mat-form-field>
    </div>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="onSubmit()">Create</button>
</mat-dialog-actions>
